<div [ngSwitch]="field.type" [formGroup]="form">
    <mat-form-field *ngSwitchCase="'input'">
        <input matInput
               [placeholder]="field.placeholder"
               [value]="field.value"
               [type]="field.inputType"
               [formControl]="control" autocomplete="false">
            <mat-error *ngFor="let validation of field.validations">
                <span *ngIf="hasError(validation.name)">{{validation.text}}</span>
            </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
        <mat-select [placeholder]="field.placeholder">
            <mat-option *ngFor="let item of field.options | async" [value]="item.value">
                {{ item.text }}
            </mat-option>
        </mat-select>
    </mat-form-field>
</div>
