<div [ngSwitch]="field.type" [formGroup]="form">
    <mat-form-field *ngSwitchCase="'input'">
        <input matInput
               [placeholder]="field.placeholder"
               [value]="field.value"
               [type]="field.inputType"
               [formControl]="control" autocomplete="false">
        <span matSuffix *ngIf="field.icon">{{field.icon}}</span>
        <mat-error *ngFor="let validation of field.validations">
            <span *ngIf="hasError(validation.name)">{{validation.text}}</span>
        </mat-error>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'dropdown'">
        <mat-select [placeholder]="field.placeholder" [formControl]="control">
            <mat-option *ngFor="let item of field.options | async" [value]="item.value">
                {{ item.text }}
            </mat-option>
        </mat-select>
    </mat-form-field>

    <mat-form-field *ngSwitchCase="'textarea'">
        <textarea matInput
                  [placeholder]="field.placeholder"
                  [formControl]="control"></textarea>
    </mat-form-field>

    <ng-container *ngSwitchCase="'autocomplete'">
        <mat-form-field>
            <input type="text" matInput
                   [placeholder]="field.placeholder"
                   [value]="field.value"
                   [type]="field.inputType"
                   [formControl]="control" [matAutocomplete]="auto">
            <button mat-button
                    *ngIf="control.value"
                    matSuffix
                    mat-icon-button
                    aria-label="Clear"
                    (click)="control.setValue(null)">
                <mat-icon>close</mat-icon>
            </button>
        </mat-form-field>

        <mat-autocomplete #auto="matAutocomplete" [displayWith]="field.displayFn">
            <mat-option *ngFor="let option of filteredOptions | async" [value]="option">
                <ng-container *ngTemplateOutlet="field.optionTemplate ? field.optionTemplate: defaultAutoComplete;context:{ field: field, option: option }" ></ng-container>
            </mat-option>
        </mat-autocomplete>
        <mat-progress-bar mode="indeterminate" *ngIf="loading"></mat-progress-bar>
    </ng-container>

    <ng-template #defaultAutoComplete let-field="field" let-option="option">
        {{option[field.propToDisplay]}}
    </ng-template>
</div>