<mat-card>
    <mat-card-title>{{section.name}}</mat-card-title>
    <mat-card-subtitle>
        <div><span>מספר ארונות: </span> {{section.cabinets?.length}}</div>
    </mat-card-subtitle>

    <mat-card-content>
        <div class="locker-stats-title">
            סטטוס תאים:
        </div>

        <div class="locker-stats-data">
            <div title="סה״כ {{lockersCount}}">
                <span>{{ lockersCount}}</span>
                <span>סה״כ </span>
            </div>
            <div title="פנויים {{ availableCount}}">
                <span>{{ availableCount}}</span>
                <span> פנויים</span>

            </div>
            <div title="תפוסים {{ assignedCount}}">
                <span>{{ assignedCount}}</span>
                <span> תפוסים</span>
            </div>
            <div title="שמורים {{ reservedCount}}">
                <span>{{ reservedCount}}</span>
                <span> שמורים</span>
            </div>
        </div>

    </mat-card-content>

    <div class="actions">
        <a [routerLink]="[section._id,'cabinets']" mat-raised-button>
            <span>הצג ארונות</span>
            <i class="fas fa-angle-left"></i>
        </a>
    </div>
</mat-card>