<mat-card>
    <mat-card-title>
        <span class="name">
            {{section.name}}
            <app-tooltip *ngIf="section.note">
                <div class="label">
                    <i class="material-icons info">info</i>
                </div>
                <div class="content">
                    {{section?.note}}
                </div>
            </app-tooltip>
        </span>
        <i class="material-icons menu" [matMenuTriggerFor]="menu">more_vert</i>
        <mat-menu #menu="matMenu">
            <button mat-menu-item>עריכה</button>
            <button mat-menu-item>מחיקה</button>
        </mat-menu>
    </mat-card-title>

    <mat-card-subtitle>
        <div><span>מספר ארונות: </span> {{section.cabinets?.length}}</div>
    </mat-card-subtitle>

    <mat-card-content>
        <div class="locker-stats-title">
            סטטוס תאים:
        </div>

        <div class="locker-stats-data">
            <div title="סה״כ {{lockersCount}}">
                <span>{{ lockersCount}}</span>
                <span>סה״כ </span>
            </div>
            <div title="פנויים {{ availableCount}}">
                <span>{{ availableCount}}</span>
                <span> פנויים</span>

            </div>
            <div title="תפוסים {{ assignedCount}}">
                <span>{{ assignedCount}}</span>
                <span> תפוסים</span>
            </div>
            <div title="שמורים {{ reservedCount}}">
                <span>{{ reservedCount}}</span>
                <span> שמורים</span>
            </div>
        </div>

    </mat-card-content>

    <div class="actions">
        <a [routerLink]="[section._id,'cabinets']" mat-raised-button>
            <span>הצג ארונות</span>
            <i class="material-icons">chevron_left</i>
        </a>
    </div>
</mat-card>