<span (click)="displayInlineEdit()" *ngIf="!toggleDisplayInlineEdit">{{model}}</span>

<div *ngIf="toggleDisplayInlineEdit && isTypeField">
    <span [satPopoverAnchorFor]="popover"
          (click)="element.toggle()">{{model}}</span>

    <sat-popover
            #popover
            hasBackdrop>

        <div class="popover-wrapper">
            <form [formGroup]="form" (submit)="onSubmit()">
                <mat-form-field>
                    <input matInput maxLength="140" formControlName="formModel" [placeholder]="placeholder">
                    <mat-hint align="end">{{f.formModel.value?.length || 0}}/140</mat-hint>
                </mat-form-field>

                <div class="actions">
                    <button mat-button type="submit" color="primary">שמור</button>
                    <button mat-button type="button" color="primary" (click)="onCancel()">בטל</button>
                </div>
            </form>
        </div>
    </sat-popover>
</div>

<div *ngIf="toggleDisplayInlineEdit && isTypeSelect">
    <mat-select
            [value]="selected?._id"
            (selectionChange)="selectionChange($event)"
            #select>
        <mat-option>לא נבחר בית ספר</mat-option>
        <mat-option *ngFor="let school of collection$ | async" [value]="school._id">
            {{ school.name }}
        </mat-option>
    </mat-select>
</div>


