<span (click)="displayInlineEdit()" *ngIf="!toggleDisplayInlineEdit">{{model}}</span>

<div *ngIf="toggleDisplayInlineEdit">
    <span [satPopoverAnchorFor]="element"
          (click)="element.toggle()">{{model}}</span>

    <sat-popover
            #element
            hasBackdrop>

        <div class="popover-wrapper">
            <form [formGroup]="form" (submit)="onSubmit()">
                <mat-form-field>
                    <input matInput maxLength="140" formControlName="formModel" [placeholder]="placeholder">
                    <mat-hint align="end">{{f.formModel.value?.length || 0}}/140</mat-hint>
                </mat-form-field>

                <div class="actions">
                    <button mat-button type="submit" color="primary">שמור</button>
                    <button mat-button type="button" color="primary" (click)="onCancel()">בטל</button>
                </div>
            </form>
        </div>
    </sat-popover>
</div>


