<span (click)="displayInlineEdit()" *ngIf="!toggleDisplayInlineEdit && !loading">{{model}}</span>

<mat-spinner [diameter]="20" *ngIf="loading" style="margin: 0 auto"></mat-spinner>

<div *ngIf="toggleDisplayInlineEdit && (isField || isTextarea)">
    <span [satPopoverAnchorFor]="popover"
          (click)="popover.toggle()">{{model}}</span>

    <sat-popover
            #popover
            hasBackdrop>

        <div class="popover-wrapper">
            <form [formGroup]="form" (submit)="onSubmit()">
                <mat-form-field *ngIf="isField">
                    <input matInput maxLength="140" formControlName="formModel" [placeholder]="placeholder">
                    <mat-hint align="end">{{f.formModel.value?.length || 0}}/140</mat-hint>
                </mat-form-field>

                <mat-form-field *ngIf="isTextarea">
                    <textarea matInput maxLength="140" formControlName="formModel" [placeholder]="placeholder"
                              [mat-autosize]="true"></textarea>
                    <mat-hint align="end">{{f.formModel.value?.length || 0}}/140</mat-hint>
                </mat-form-field>

                <div class="actions">
                    <button mat-button type="submit" color="primary">שמור</button>
                    <button mat-button type="button" color="primary" (click)="onCancel()">בטל</button>
                </div>
            </form>
        </div>
    </sat-popover>
</div>

<div *ngIf="toggleDisplayInlineEdit && isSelect">
    <mat-select
            [value]="selected?._id"
            (selectionChange)="selectionChange($event)"
            (openedChange)="selectOpenedChange($event)"
            #select>
        <mat-option [value]="null">לא נבחר בית ספר</mat-option>
        <mat-option *ngFor="let school of collection$ | async" [value]="school._id">
            {{ school.name }}
        </mat-option>
    </mat-select>
</div>



