<div class="content" dir="rtl">
    <mat-toolbar>
        <div class="title">
            <a mat-button
               (click)="goBack()"
               tooltip="חזרה לבתי ספר"
               class="back">
                <i class="material-icons">arrow_forward</i>
            </a>
            <span>מתחמים</span>
        </div>
        <button mat-raised-button color="primary" tooltip="צור מתחם">+ צור חדש</button>
    </mat-toolbar>

    <div class="school-name">
        <strong class="label">בית ספר: </strong> {{ ( school$ | async )?.name }}
    </div>

    <div class="section-card-wrapper" *ngIf="school">
        <!--<div class="add">-->
        <!--<mat-card>-->
        <!--<mat-card-title>-->
        <!--<i class="material-icons">add</i>-->
        <!--הוסף מתחם חדש-->
        <!--</mat-card-title>-->
        <!--</mat-card>-->
        <!--</div>-->

        <div class="card-sections">

            <app-section *ngFor="let section of school.sections" [section]="section"></app-section>
        </div>
    </div>
</div>