/* Structure */
.example-container {
  position: relative;
  max-width: 1200px;
  margin: 0 auto

}

.example-table-container {
  position: relative;
  max-height: 700px;
  overflow: auto;
}

table {
  width: 100%;
}

.example-loading-shade {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 56px;
  right: 0;
  background: rgba(0, 0, 0, 0.15);
  z-index: 1;
  display: flex;
  align-items: center;
  justify-content: center;
}

.example-rate-limit-reached {
  color: #980000;
  max-width: 360px;
  text-align: center;
}

/* Column Widths */
.mat-column-number,
.mat-column-state {
  max-width: 64px;
}

.mat-column-created {
  max-width: 124px;
}

[dir="rtl"] td.mat-cell:last-child,
[dir="rtl"] td.mat-footer-cell:last-child,
[dir="rtl"] th.mat-header-cell:last-child {
  padding-right: 0;
  padding-left: 24px;
}

[dir="rtl"] td.mat-cell:first-child,
[dir="rtl"] td.mat-footer-cell:first-child,
[dir="rtl"] th.mat-header-cell:first-child {
  padding-right: 24px;
  padding-left: 0px;
}

[dir="rtl"] th.mat-header-cell {
  text-align: right
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  padding: 0 10px;
}

tr.mat-header-row th {
  position: sticky;
  top: 0;
  z-index: 1000;
  background: white
}

td.mat-cell,
td.mat-footer-cell,
th.mat-header-cell {
  max-width: 200px;
}


.mat-cell.cdk-column-school_name{ min-width:150px;}


.school-actions{  display: flex;
  align-items: center;
  justify-content: center;}