:host {
  z-index: 3;
  .content {
    overflow-y: scroll;
    background: white;
    max-width: 1200px;
    margin: 0;
    height: 100%;
    box-shadow: 0 0 10px -5px rgba(0, 0, 0, 0.2), 0 0 24px 2px rgba(0, 0, 0, 0.14), 0 0 30px 5px rgba(0, 0, 0, 0.12);
  }
  mat-toolbar{
    position: sticky;
    top: 0;
    z-index: 3;
    border-bottom: 1px solid #e7e8e8;
  }

  .cabinets {
    display: flex;
    justify-content: right;
    flex-wrap: wrap;
    //height: calc(100% - 64px);
    overflow-y: scroll;

    app-cabinet {
      //width: calc(31% - 2px);
      //flex-wrap: wrap;
      //margin: 1%;
      //border: 1px solid #f6f5f6;
      //border-radius: 2px;

      max-width: 373px;
      flex-wrap: wrap;
      margin: 10px;
      border: 1px solid #f6f5f6;
      border-radius: 2px;
      flex: 1 1 auto;
    }
  }
}

.title {
  flex: 1;
  display: flex;
  .bread-crumbs {
    font-size: 14px;
    line-height: initial;

    .current-state {
      font-size: 19px;
    }

    div:not(.current-state) {
      color: #0000007a;
    }
  }
}

.back {
  min-width: 0;
  top: -2px;
}

@media only screen and (max-width: 1000px) {
  :host {
    .cabinets {
      app-cabinet {
        //width: calc(48% - 2px);
      }
    }
  }
}

@media only screen and (max-width: 800px) {
  :host {
    .cabinets {
      app-cabinet {
        //width: calc(48% - 2px);
      }
    }
  }
}

@media only screen and (max-width: 650px) {
  :host{

    .cabinets{
      app-cabinet {
        //width: 100%;
        //margin-right: 0;
        //margin-left: 0;
      }

    }

  }
}