<mat-drawer-container class="example-container" autosize dir="rtl">
  <mat-drawer #drawer class="example-sidenav" mode="push">
    <app-menu class="mobile-menu"></app-menu>
    <button type="button" mat-button (click)="drawer.toggle()"> סגור ! </button>
  </mat-drawer>

  <div class="example-sidenav-content">
    <div dir="ltr" class="al-r-mobile-tablet">


      <mat-toolbar color="primary">
        <div>אדון לוקר</div>
        <button type="button" mat-button (click)="drawer.toggle()" class="open-menu">
          <i class="fas fa-bars"></i>
        </button>
      </mat-toolbar>
    </div>

    <div class="nav-wrapper">
      <app-menu class="al-r-desktop"></app-menu>
    </div>

    <router-outlet></router-outlet>
  </div>
</mat-drawer-container>