<div dir="rtl">
    <mat-tab-group>
        <mat-tab label="מידע לוקר">
            <br>
            <div class="metadata">
                <div>
                    <span>בית ספר:</span>
                    {{data.school.name}}
                </div>
                <div>
                    <span>מתחם:</span>
                    {{data.section.name}}
                </div>
                <div>
                    <span>ארון:</span>
                    {{data.cabinet.name}}
                </div>
            </div>
            <br>

            <mat-dialog-content>
                <app-locker-data [locker]="data.locker"
                                 (onSubmit)="submit($event)"
                                 (onCancel)="cancel($event)"></app-locker-data>
            </mat-dialog-content>
        </mat-tab>
        <mat-tab label="הוסף סטודנט">
            <app-add-new-student [showHeader]="false"></app-add-new-student>
        </mat-tab>
        <mat-tab label="סטודנטים">
            <app-students></app-students>
        </mat-tab>
    </mat-tab-group>
</div>