:host{
  display: flex;

  mat-toolbar{

  }
  .columns{
    flex: 1;
    flex-wrap: nowrap;
    display: flex;
    padding: 12px;
  }
}

@media only screen and (max-width: 650px) {
  :host{
    //width: 100%;
    //margin: 1% 0;

    app-cabinet{
      width: 100%;
      margin-right: 0;
      margin-left: 0;
    }

    .columns{
      padding-right: 0;
      padding-left: 0;
    }
  }
}