<div class="app-max-width red" dir="rtl">
    <mat-toolbar>
        <span>סטודנטים</span>
        <button mat-button color="primary" class="button-add-new" (click)="openDialogAddStudent()">
            <span>הוסף חדש</span>
        </button>
    </mat-toolbar>

    <div>

        <app-tooltip label="has tooltip">
            <div>
                <span class="bold">שם מתחם:</span>
                <span>איריס</span>
            </div>

            <div>
                <span class="bold">שם ארון:</span>
                <span>שם של פרח</span>
            </div>

            <div>
                <span class="bold">מספר ארון:</span>
                <span>321</span>
            </div>

            <div>
                <span class="bold">מספר תא:</span>
                <span>233</span>
            </div>
        </app-tooltip>
    </div>
    <app-students></app-students>
</div>