<div class="content" dir="rtl">
    <mat-toolbar>
        <div class="title">
            <a mat-button
               (click)="goBack()"
               tooltip="חזרה לבתי ספר"
               class="back">
                <i class="material-icons">arrow_forward</i>
            </a>
            <span class="bread-crumbs">
                <div class="current-state">
                    מתחמים
                </div>
                <div>
                    <strong class="label">בית ספר: </strong> {{ ( school$ | async )?.name }}
                </div>
            </span>
        </div>
        <button mat-raised-button color="primary" tooltip="יצירת מתחם חדש">צור חדש +</button>
    </mat-toolbar>

    <div class="section-card-wrapper" *ngIf="school">
        <div class="card-sections">
            <app-section *ngFor="let section of school.sections" [section]="section"></app-section>
        </div>
    </div>
</div>

<router-outlet></router-outlet>

