<div class="app-max-width" dir="rtl">
    <mat-toolbar>מידע זמן אמת</mat-toolbar>

    <!--<div class="cards">-->
    <!--<mat-card>header</mat-card>-->
    <!--<mat-card>main</mat-card>-->
    <!--<mat-card>sidebar</mat-card>-->

    <!--</div>-->

    <mat-card>
        <mat-card-title>רכישות מהאתר</mat-card-title>
        <mat-card-subtitle>
            <div><span>סה״כ</span>: {{sumTransactions}} רכישות</div>
            <div><span>סה״כ</span>: {{sumTransactionsInNis | shekel}}</div>
        </mat-card-subtitle>
        <canvas id="chart1"></canvas>

    </mat-card>

    <mat-card style="width: 50%;     margin-top: 28px;">
        <mat-card-title>תפוסת לוקרים</mat-card-title>
        <div><span>סה״כ</span>: 6868</div>
        <canvas id="chart2"></canvas>
    </mat-card>


</div>