:host {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

mat-toolbar {
  margin: 20px 0;
}

.cards {
  display: grid;
  grid-template-columns: 50px 50px 50px 50px;
  grid-template-rows: auto;
  grid-template-areas: "header header header header" "main main . sidebar" "footer footer footer footer";
  grid-column-gap: 10px;
  grid-row-gap: 15px;

  mat-card {

    &:nth-child(1) {
      grid-area: header;
    }
    &:nth-child(2) {
      grid-area: main;
    }
    &:nth-child(3) {
      grid-area: sidebar;
    }
    &:nth-child(4) {
      grid-area: footer;
    }


  }
}