@import '~@angular/material/prebuilt-themes/deeppurple-amber.css';
@import url('https://fonts.googleapis.com/icon?family=Material+Icons');
@import url('https://fonts.googleapis.com/css?family=Roboto:300i,400,400i,500,700,900');
@import '~material-design-icons/iconfont/material-icons.css';

app-schools {
  display: block;
  max-width: 1200px;
  margin: 0 auto;
}

body {
  margin: 0;
  padding: 0;
  background-color: #fafafa;
}

@import "./assets/fontawesome-free-5.1.0-web/scss/variables";
@import "./assets/fontawesome-free-5.1.0-web/scss/fontawesome.scss";
@import "./assets/fontawesome-free-5.1.0-web/scss/fa-solid.scss";
@import "./assets/fontawesome-free-5.1.0-web/scss/fa-brands.scss";

body, html {
  height: 100%;
}

app-dashboard-page {
  min-height: 100%;
  display: flex;
  box-sizing: border-box;
  /* flex-direction: column; */
  /* display: block; */
}

mat-drawer-container {
  flex: 1;
  display: flex;
  //justify-content: center;
  //flex-direction: column;
}

app-root {
  max-width: 1200px;
  margin: 0 auto;
}

.button-add-new {
  margin-right: auto;
}

.bold {
  font-weight: bold
}